* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: sans-serif;
}
.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.propysolver {
    font-size: 28px;
    margin: -10px 10px 10px 1px;
}
.nav {
    color: #8353E2FF;
    padding: 20px;
    height: 7vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btn {
    background-color: #8353E2FF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 88px;
    height: fit-content;
    font-size: 15px;
    font-weight: bold;
    margin-right: 3px;
    margin: -5px 2px 10px 7px;
}

.logo {
    font-size: 1.5rem; 
    color: #8353E2FF;
    font-family: sans-serif;
}

.main-sec{
    display: flex;
    height: 100vh;
    margin-top: 0px;
    overflow-x: hidden;
}
.left{
    width: 70%;
    background: #341473E6;
    overflow-y: auto;

}
.right{
    background:#341473E6;
    width: 30%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-a; */
    align-items: center;
    gap: 50px;
}
.status{
    width: 84%;
    height: fit-content;
    background: #FFFFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    border-radius: 5px;
    margin-right: 25px;
    /* margin-left: 20px; */
    /* margin: 0 auto; */
}
.tags{
    width: 84%;
    /* height: 50%; */
    height: fit-content;
    background: #FFFFFFFF;
    border-radius: 5PX;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
    gap: 15px;
    margin-right: 48px;
}

.module{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    height: 15%;
    background:#FFFFFFFF;
    margin: 0 auto;
    margin: 34px 30px;
    padding: 10px 20px ;
    align-items: center;
    border-radius: 5px;
}
.left::-webkit-scrollbar {
    display: none;
}

.mod-name{
    color: #8353E2FF;
    font-size: 2rem;
    font-family: sans-serif;
}
.count{
    display: flex;
    width:26%;
    background: #FFFFFFFF;
    justify-content: space-between;
    margin-right: 30px;
    gap: 15px;
}
.pro-btn{
    background-color: #8353E2FF;
    color: white;
    outline: none;
    padding-left: 15px;
    padding-right:15px;
    border: none;
    font-size:1.75rem;
    font-family: sans-serif;
    border-radius: 20px;
    height: 44px;
    width: 82%;
}
.count-st{
    color:#8353E2FF ;
    margin: 5px -61px;
}
a{
    text-decoration: none;
}

.tags-child{
    background-color: #8353E2FF;
    /* height: fit-content; */
    padding: 5px 17px;
    border-radius: 20px;
    font-family: sans-serif;
}

.tags a{
    color: white;
}